.piece { 
    width: var(--piece-size); 
    height: var(--piece-size); 
    border-radius: 50%; 
    border: 2px solid black; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3), inset 0 -3px 3px rgba(0,0,0,0.2); 
    transition: transform 0.2s ease; 
    background-image: radial-gradient(circle at 50% 20%, #ffffff, rgba(255,255,255,0) 70%);
}

.movable {
  cursor: pointer;
  transform: scale(1.1);
  animation: pulse 1.5s infinite;
}

@keyframes pulse { 
    0% { transform: scale(1.1); } 
    50% { transform: scale(1.15); } 
    100% { transform: scale(1.1); } 
}

.lastMoved {
  box-shadow: 0 0 12px 4px #ffeb3b, 2px 2px 5px rgba(0,0,0,0.3), inset 0 -3px 3px rgba(0,0,0,0.2);
  z-index: 12; /* Ensure outline is visible over other pieces */
}

.red { background-color: var(--red); }
.green { background-color: var(--green); }
.yellow { background-color: var(--yellow); }
.blue { background-color: var(--blue); }

.homePiece {
  transform: scale(0.65);
  cursor: default;
}